@import "tailwindcss";

body{
    background-color: #1E1E1E;
}

@theme {
    --color-textgray: #a3a3a3;
    --color-notesbody: #262626;
}

input {
    padding: 8px 12px; /* top-bottom | left-right */
    font-size: 16px;
    line-height: 1.2;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align:left;
  }